html, body {
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre {
    white-space: normal;
}

ul, ul li {
    list-style: none;
    padding: 0;
}

ol, ol li {
    padding: 0;
}

div {
    text-align: center;
    padding: 1em 0;
}

button {
    font-size: 1.2em;
    appearance: none;
    background-color: #ccc;
    padding: .2em 1em;
    margin: 0 1em;

    &.is-active {
        background-color: #06c;
        color: #fff;
    }
}

